<div class="row">
	<div class="col-md-6">
		<a class="btn btn-link text-secondary p-0" routerLink="/"><i class="fa fa-arrow-circle-o-left"></i> back to dashboard</a>
	</div>
</div>

<div class="card mt-2">
	<h3 class="card-header"><i class="fa fa-cog"></i> Edit Settings</h3>
	<div class="card-body">
		<form (submit)="onSubmit()">
			<div class="custom-control custom-checkbox">
				<input 
					class="custom-control-input"
					id="allowRegistration"
					type="checkbox" 
					name="allowRegistration" 
					[checked]="settings.allowRegistration" 
					(change)="settings.allowRegistration = !settings.allowRegistration"
				>
				<label class="custom-control-label" for="allowRegistration">Allow Registration</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input
					class="custom-control-input"
					id="disableBalanceOnAdd"
					type="checkbox" 
					name="disableBalanceOnAdd" 
					[checked]="settings.disableBalanceOnAdd" 
					(change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"
				>
				<label class="custom-control-label" for="disableBalanceOnAdd">Disable Balance on Add</label>				
			</div>
			<div class="custom-control custom-checkbox">
				<input
					class="custom-control-input"
					id="disableBalanceOnEdit"
					type="checkbox" 
					name="disableBalanceOnEdit" 
					[checked]="settings.disableBalanceOnEdit" 
					(change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"
				>
				<label class="custom-control-label" for="disableBalanceOnEdit">Disable Balance on Edit</label>
			</div>
			<button class="btn btn-primary mt-3" type="submit"><i class="fa fa-check"></i> Save settings</button>
		</form>
	</div>
</div>
